
/* 背景顏色設定 */
.stApp {
    background-color: #aec4dd; 
}
.stApp header{
    background-color: #b2c1d3; 
}


/* 側邊欄顏色設定 */
section[data-testid="stSidebar"] {
    background-color: #71a18f; 
    
}

/* 按鈕樣式調整 */
.stButton > button {
    color: rgb(107, 107, 88); 
    border: 2px solid rgb(107, 107, 88);
} 
.stButton > button:active {
    background-color: rgb(156, 178, 216); 
}

.stButton > button:hover {
    color: #51bb46; 
    border: 2px solid #51bb46;
} 

.stButton > button:focus {
    color: rgb(107, 107, 88) !important;  
    border: 2px solid rgb(107, 107, 88) !important;
}


.honor {
    text-align:center;
}

.honor01 {
    font-size: 25px !important;
}

.honor02 {
    font-size: 25px !important;
    font-weight:normal !important;
}

.honor03 {
    font-size: 25px !important;
    color:green !important;
}
.honor04 {
    font-size: 25px !important;
    color:red !important;
}
